[core]
	editor = nvim

[url "git@github.com:rubengpb/"]
  insteadOf = "gh:"

[user]
	email = rubengarciapatosbenito@gmail.com
	name = Rubén García-Patos Benito

[merge]
	tool = nvimdiff
	conflictstyle = diff3
[push]
	autoSetupRemote = true

[includeIf "gitdir:~/work/**"]
  path = ~/work/.gitconfig

[includeIf "gitdir:~/aura/**"]
  path = ~/aura/.gitconfig

[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
